[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-kvsession = "*"
flask-caching = "*"
flask_httpauth = "*"
waitress = "*"
coloredlogs = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

