html{   
    width: 100%;   
    height: 100%;   
    overflow: hidden;   
    font-style: sans-serif;   
   }
   
body{   
    width: 100%;   
    height: 100%;   
    font-family: 'Open Sans',sans-serif;   
    margin: 0;   
    background-color: #27a0d838;   
   }

h1{   
    font-size: 3em;   
    margin: 0.67em 0;
    text-align:center; 
   }

h2{   
    font-size: 1.5em;   
    margin: 0.67em 0;
    text-align:center; 
   }

table{
    border-collapse:separate; 
    border-spacing:20px 20px;
    font-size: 35px;
}

td{
    width: 140px;
    text-align:right;
}

input{   
    width: 600px;   
    height: 35px;   
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
    color: #fff;    
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;   
    border-radius: 4px;   
    background-color: #2D2D3F;   
   }

select{   
    width: 600px;   
    height: 35px;   
    margin-bottom: 10px;   
    outline: none;   
    font-size: 13px;   
    color: #fff;    
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;   
    border-bottom: 1px solid #56536A;   
    border-radius: 4px;   
    background-color: #2D2D3F;   
   }

.button{   
    width: 160px;   
    min-height: 20px;   
    display: block;   
    background-color: #4a77d4;   
    border: 1px solid #3762bc;   
    color: #fff;   
    padding: 9px 14px;   
    font-size: 30px;   
    line-height: normal;   
    border-radius: 5px;   
    margin: 0;
   }