<html>

    <head>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'index.js') }}" ></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    </head>

    <body>
        <br/>
        <br/>
        <br/>
        <h1>ACS Initiate Connection</h1>
        <br/>
        <br/>
        <br/>
        <form action="/" method="post" onsubmit="OnSubmit">
            <center>
                <table>
                    <tr>
                        <td>method:</td>
                        <td>
                            <select id="method" name="method">
                                <option selected="selected">GetParameterValues</option>
                                <option>SetParameterValues</option>
                                <option>AddObject</option>
                                <option>DeleteObject</option>
                            </select>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td>path:</td>
                        <td>
                            <input type="text" required="required" id="path" name="path">
                        </td>
                    </tr>
                    
                </table>
            </center>
            <br/>
            <br/>
            <br/>
            <center> <button class="button"  type="submit">Submit</button></center>
        </form>
    </body>
</html>