<!DOCTYPE html>
<html lang="en">
    <head>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'index.js') }}" ></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
        <!-- <script type = "text/javascript" src = "index.js" ></script>
        <link rel="stylesheet" type="text/css" href="index.css"> -->
    </head>

    <body>
        <br/>
        <br/>
        <br/>
        <h1>ACS Initiate Connection</h1>
        <br/>
        <br/>
        <br/>
        <form action="/" method="post" onsubmit="OnSubmit">
            <center>
                <table>
                    <tr>
                        <td>method:</td>
                        <td>
                            <select id="selectMethod" onchange="OnChangeMethod(this.value)">
                                <option value="GetParameterValues" selected="selected">GetParameterValues</option>
                                <option value="SetParameterValues">SetParameterValues</option>
                                <option value="AddObject">AddObject</option>
                                <option value="DeleteObject">DeleteObject</option>
                            </select>
                        </td>
                        <td>path:</td>
                        <td>
                            <input style="width:600px" type="text" required="required" id="path">
                        </td>
                        <td id="tdValue">value:</td>
                        <td id="tdInputValue">
                            <input style="width:160px" type="text" required="required" id="inputValue">
                        </td>
                        <td>
                            <button class="button"  type="submit">Submit</button>
                        </td>
                    </tr>
                    
                </table>
            </center>
        </form>
    </body>
</html>