html{   
    width: 100%;   
    height: 100%;   
    overflow: hidden;   
    font-style: sans-serif;   
   }
   
body{   
    width: 100%;   
    height: 100%;   
    font-family: 'Open Sans',sans-serif;   
    margin: 0;   
    background-color: #27a0d838;   
   }

h1{   
    font-size: 3em;   
    margin: 0.67em 0;
    text-align:center; 
   }

table{
    border-collapse:separate; 
    border-spacing:3px 1px;
}

td{
    text-align:left;
    font-size: 20px;
    height: 25;
    background-color: #808080;
}

input{
    outline: none;   
   }

select{   
    width: 160px;   
    vertical-align: middle;  
    outline: none;   
   }

.button{   
    width: 80px;   
    display: block;       
    line-height: normal;   
    margin: 0;
   }